@charset "utf-8";

body{
	padding: 0px;
	margin: 0px;
	scroll-behavior: smooth;
}

li{
	list-style: none;
}

a{
	text-decoration:none;
}

h1,h2,h3,h4,h5{
	font-family: 'Roboto Slab', serif;
}
p{
	font-family: 'Open Sans Condensed', sans-serif;
}
a{
	font-family: 'Dancing Script', cursive;
}

@media(max-width: 768px){

	.col-12{
		position: relative;
	}
	.tablestyle{
		position: relative;
		left: 10px;
	}
}


/* banner */
.carousel-item{
	background: no-repeat scroll center scroll;
	-webkit-background-size: cover;
	background-size: cover;
}
.carousel-item::before{
	content:"";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background:#000;
	opacity: 0.5;
}


/* work */
.work-card-size{
	width: 22em;
	height: auto;
}

.work-card-style{
	transition: .5s;
}

.work-card-style:hover{
	transform: scale(1.1);
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


/* footer */
.footer-p{
	color: #fff;
}

.footer-a{
	color: #000;
	background-color: #fff;
	width: 36px;
	height: 36px;
	border-radius:50%;
}
.footer-i{
	position:relative;
	right: 2px;
}

.footer-s-a{
	color: #fff;
	font-size:30px;
}